
h1 { ;
    margin-top: 100px;
    
    border: 0;
    font-family: 'Sacramento', cursive;
 font-size:60px;
 color: #66BFBF;
 position:relative;
 bottom:20px
 


}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
.Student {
    text-decoration: underline;
}
img {
    width: 15%;
    border-bottom: 140px ;
    margin-bottom: 0;
    display: inline;
    position: relative;
    bottom: 160px;
    right: 150px;
    margin-top: 20px;
}
body { margin: 0;
    background-color: rgb(213, 233, 240);
    font-family: 'Merriweather', serif;
    text-align: center;
}


.img { bottom: 0;
    width: 50%;
    
}
.right-cloud {
position: absolute;
bottom: 600px;
right: 250px;

}
p {
    margin-bottom: 10px;
    

}
h2 {
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
.left-cloud {
    position: relative;
    bottom: 400px;
    left: 50px;
}
.myimage {
    position: relative;
    left: 10px;
    top: 15px;
    
}
.pp {
    color: #66BFBF;
    font-weight: normal;
}
.skill-row {
   width: 50%;
   margin: auto;
   text-align: left;
   line-height: 2;
}
.joinBtn {
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.joinBtn:hover {
    background-color: bisque;
}
a:hover {
    background-color: bisque;
} 
.hrb {
    border: dotted;
    border-bottom: none;
    width: 4%;
    border-radius: 3px;
}
.h23 {
    margin-top: 60px;
}